<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Free bets</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="active">Active bet definitions</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="historical">Historical bets</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="my-bets">My bets</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="my-bet-def">My bets definition</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="add-bet-def">Add bet definition</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="" (click)="logout()">Logout</a></li>
    </ul>

    <div *ngIf="user">
      Login:{{user.login}}<br>
      Money:{{user.money}}

    </div>
  </div>
</nav>
<br>
<br>


<router-outlet></router-outlet>
